.calendar {
  font-family: inherit;
}

.calendar :global(.rmdp-week-day) {
  color: #8f1d1d;
}

.calendar :global(.rmdp-arrow) {
  border-color: #8f1d1d;
}

.calendar :global(.rmdp-day.rmdp-today span) {
  background-color: #f3e8e8;
  color: #8f1d1d;
}

.calendar :global(.rmdp-day.rmdp-selected span:not(.highlight)),
.calendar :global(.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover),
.calendar :global(.rmdp-arrow-container:hover) {
  background-color: #8f1d1d;
  color: white;
  box-shadow: none;
}

.calendar :global(.rmdp-arrow-container:hover .rmdp-arrow) {
  border-color: white;
}
